<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--  <add key="QAT" value="http://hermes-qat.gcmlp.com"/> -->
      <add key="QAT" value="http://hermes.gcmlp.com"/>
      
      
      <!-- HERMES -QA Reports DATA Section    -->
      <!-- *************************QA Reports Portfolio Fund Data Section   -**************************   -->
      
    <!-- Portfolio & Account details for CARMEL UNIT TRUST -->
      <add key ="portfoliofund" value="CARMEL - Carmel Unit Trust"/>
    <add key="Portfolioid" value="174 "/>
    
    <!-- ******************************* MANAGER FUND Data Section ***************************************** * -->
<!-- IMC - Investments Monitor _Report-->
    <add key="selectfund" value="Seasons Instl Core LP"/>
    <add key="ManagerPortfolioid" value="174 "/>
    <add key="ManagerAccount" value="5951 "/>

    <!-- ******************************** INVESTOR FUND Data Section  *****************************************-->

    <!-- IMC - Investments Monitor _Report-->
    <add key="InvestorSelectFund" value="RDIF -RHS 2018 RD-V Annuity Trust - BP_110_1_883"/>
    <add key="InvestorPortfolioId" value="174 "/>
    
    <!--*********************** WEB Reports - Data Section *********************************************-->
    <!-- Portfolio fund Data section -->
    <add key="Webportfoliofund" value="AIG - AIG Separate Account"/>
    <add key ="Webportfolioreportid" value="174 "/>

    <!--  -  Manager fund Data section -->

    <add key="Webmanagerfund" value="Sandelman LP Other"/>
    <add key ="WebManagerportfolioid" value="80 "/>

      
    <!-- Investor fund Data section -->
        <add key="WebInvestorfund" value="Sheet Metal Workers Local 17 + Z-SMWLOCAL17"/>
      
      <!-- ********************************* Manager Prcing Data Section *******************************************-->
<!-- for Manager - 111 - Abrams Capital II LP -->
<!-- for Manager - 111-->
     <add key="SelectManager" value="111"/>
     <add key="selectDate" value="02/28/2019"/>
      
      
      
      
  </appSettings>
   
  
</configuration>